# For Japanese
set convert-meta off
set input-meta on
set output-meta on

# Completion
set completion-ignore-case on
set show-all-if-ambiguous on
set visible-stats on

# Others
set editing-mode emacs
set bell-style none

# Keybind
"\C-n": history-search-forward
"\C-p": history-search-backward
